body {
  background-color: hsl(148, 38%, 91%);
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

/* ============Container============ */
.container {
  max-width: 500px;
  margin: 80px auto;
  padding: 25px 30px;
  border-radius: 5px;
  background-color: white;
  height: auto;
}

/* =============Title============= */
h2 {
  color: hsl(187, 24%, 22%);
  margin-top: 0px;
}

/* ===========Fields============ */
.field {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.field1 {
  display: flex;
  gap: 20px;
  margin-top: 5px;
}

.field1 .field {
  flex: 1;
}

/* ===========Labels============ */
.labelnome {
  font-weight: 500;
  margin-bottom: 5px;
  color: hsl(186, 15%, 59%);
  font-size: 10px;
}

/* ============Inputs============= */
#name,
#lastname,
#email,
#message {
  border-radius: 5px;
  border: 1px solid hsl(186, 15%, 59%);
  padding: 5px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

#email,
#message {
  margin-top: 5px;
}

/* ==============Radio Group============== */
.radio-group {
  display: flex;
  gap: 50px;
}

.general,
.support {
  margin-top: 7px;
  border: 1px solid hsl(186, 15%, 59%);
  display: flex;
  padding: 6px 80px 6px 10px;
  flex: 1;
  align-content: center;
  border-radius: 5px;
}

/* ===============Error Messages============= */
p.error {
  color: red;
  font-size: 12px;
  margin-top: 2px;
}

#consentError {
  margin-bottom: 15px;
}

/* =============Button============== */
button.buttonsubmit {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: hsl(169, 82%, 27%);
  color: white;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}

/* ================Responsivo (Mobile)============= */
@media screen and (max-width: 600px) {
  .container {
    margin: 30px 15px;
    padding: 20px;
  }

  .field1 {
    flex-direction: column;
    gap: 10px;
  }

  .radio-group {
    flex-direction: column;
    gap: 10px;
  }

  .general,
  .support {
    padding: 6px 10px;
  }
}

