body {
    background-color: hsl(148, 38%, 91%);
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

.container {
    max-width: 500px;
    margin: 80px auto;
    padding: 25px 30px;
    border-radius: 5px;
    background-color: white;
    height: auto; 
}

h2 {
    color: hsl(187, 24%, 22%);
    margin-top: 0px;
    }

.field {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
   
    
}

.labelnome {
    font-weight: 500;
    margin-bottom: 5px;
    color: hsl(186, 15%, 59%);
    font-size: 10px;
}


#email,
#message {
    padding: 5px;
    border: 1px solid hsl(186, 15%, 59%);
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.formemail,
.formquerytype,
.formmessage {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

p.error {
    color: red;
    font-size: 12px;
    margin-top: 2px;
}

button.buttonsubmit {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: hsl(169, 82%, 27%);
    color: white;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
}
.field1 {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.field1 .field {
    flex: 1;
}

.radio-group{
display: flex;
gap: 50px;

}
.general, .support {
margin-top: 7px;
border: 1px solid hsl(186, 15%, 59%);
display: flex;
padding: 6px 80px 6px 10px;
flex: 1;
align-content: center;
border-radius: 5px;
}

#lastname, #name{
border-radius: 5px;
border: 1px solid hsl(186, 15%, 59%);
padding: 5px;
}
#consentError {
margin-bottom: 15px;
}


